* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15% 0 15%;
    background: linear-gradient(180deg, #36517D 50%, #F1F4F6 50%);
    min-width: 300px;
}

.heading {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: left;
    color: white;
}

.heading h1 {
    font-size: 26px;
}

.heading p {
    padding-top: 10px;
}

.box{
    background-color: white;
    width: 100%;
    max-width: 1000px;
    border-radius: 5px;
    box-shadow: -1px 15px 25px -10px rgba(0,0,0,0.5);
    margin-bottom: 15px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15 0 15 0;
    border-bottom: 1px solid whitesmoke;
}

.form h2 {
    width: 100%;
    padding: 10 0 0 10;
    margin: 5 5 0 5;
    font-weight: bold;
    font-size: 16px;
}

.values {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.values p {
    min-width: max-content;

}

.result {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin: 5px;
    padding: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.phrase {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    vertical-align: middle;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.input {
    margin: 5px;
    padding: 5px;
    width: 100px;
    border-radius: 5%;
    border: 1px solid gainsboro;
    box-shadow: none;
    background-color: white;
}

.button {
    margin: 5px;
    height: 34px;
    background-color: #36747D;
    width: 100px;
    color: white;
    border-radius: 2%;
    border: none;
    box-shadow:black;
}

@media (hover: hover) {
.button:hover {
    cursor:pointer ;
    background-color: #7C8EA1;
}
}

.button:active {
    cursor: pointer;
    position: relative;
    top: 1px;
}

.button:focus {
    outline: none;
}

.content {
    min-width: 300px;
    padding: 0 15% 0 15%;
    background: linear-gradient(180deg, #F1F4F6 30%, white 30%) ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 15px;
}

section {
    min-width: 300px;
    background-color: white;
    border-radius: 5px;
    flex: 1;
    box-shadow: -1px 15px 25px -10px rgba(0,0,0,0.5);
}

section h3 {
    padding: 15 15 0 15;
}

section p {
    padding: 15px;
}

#codeblock {
    white-space: nowrap;
    background-color: lightgray;
    padding: 0 5 0 5;
    border-radius: 5px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px 15% 5% 15%;
}

#logo {
    height: 30px;
}

#logo:hover{
    transform: rotate(45deg);
}

@media all and (min-width:0px) and (max-width: 600px) {

    html {
        font-size: 20px;
    }

    main {
        padding: 0 10% 0 10%;
    }

    .phrase {
        width: 100%;
    }
    .input {
        width: 100%;
    }

    .result {
        width: 100%;
    }
    .button{
        width: 100%;
    }

    .content {
        padding: 0 10% 0 10%;
    }

  }